<!DOCTYPE html>
<html>
<body>
<form method="POST" action="">
  {% for l in form.EngRom %}
  {{l}}{{l.label}}
  {% endfor %}
  <br><br>
  {{form.category.label}}
  {{form.category}}
  <input type="submit" value="Submit">
</form>

{% if not bFinished %}
<h1>{{Qu}}</h1>
<br>
<button onclick="document.getElementById('Rom').innerHTML = '{{Ans}}'">Reveal</button>
<button  onclick="window.location.href = '/next'">Got it!</button>
<button  onclick="window.location.href = '/repeat'">D'oh!</button>
<h1 id="Rom"></h1>
{% else %}
<h1>Finished!</h1>
<h2>You scored:</h2>
<h2>{{session['nWords']-session['nWrong']}}/{{session['nWords']}}</h2>
{% endif %}

</body>
