<!DOCTYPE html>
<html>
<body>
<form method="POST" action="">
  {% for l in form.EngRom %}
  {{l}}{{l.label}}
  {% endfor %}
  <br><br>
  {{form.category.label}}
  {{form.category}}
  <input type="submit" value="Submit">
</form>

{% if not bFinished %}
<br>
<div id="Qu">
{{Qu}}
</div>
<div id="Ans" style="display:none">
{{Ans}}
</div>
<br>

<input type="button" id="Reveal" value="Reveal" onclick="Reveal()"></input>
<input type="button" id="Next" value="Got it :-)" onclick="window.location.href = '/next'" style="display:none"></input>
<input type="button" id="Repeat" value="Missed it :-(" onclick="window.location.href = '/repeat'" style="display:none"></input>
{% else %}
<h1>Finished!</h1>
<h2>You scored:</h2>
<h2>{{session['nWords']-session['nWrong']}}/{{session['nWords']}}</h2>
{% endif %}

<script>
function Reveal() {
  var v = document.getElementById("Next");
  var w = document.getElementById("Repeat");
  var x = document.getElementById("Qu");
  var y = document.getElementById("Ans");
  var z = document.getElementById("Reveal");
  v.style.display = "inline";
  w.style.display = "inline";
  x.style.display = "none";
  y.style.display = "block";
  z.style.display = "none"
}
</script>

</body>
