<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<table>
  <tr>
    <th>Marked</th>
    <th>Category</th>
    <th>Romanian</th>
    <th>English</th>
    <th></th>
  </tr>
  {% for index, row in words.iterrows() %}
    <tr>
      {% for i in range(1,row|length) %}
        <td>{{row[i]}}</td>
      {% endfor %}
      <td>
        <a href=/edit/{{row['id']}}>Edit</a>
      </td>
      <td>
        <form action=/delete/{{row['id']}} method="POST" onsubmit="return confirm('Are you sure?');">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

</body>
